<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="icon" href="{% static 'img/icono.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    
    <style>
        body{
            font-family: Arial;
        }

        .error-control{
            border: 1px solid red;
        }

        label.error{
            color: red;
            width: 200px;
            font-size: 0.8em;
            margin-top: -5px;
            margin-bottom: 10px;
        }
    </style>

<script>

    $(function() 
    {
      $("#formulario").validate({
           rules: {
                  email: {
                        producto: "required",
                        marca: "required",
                        nombre: "required",
                        descripcion: "required",
                        categoria: "required",
                  }   
                  
              }, //rules
          messages: {
              producto: {
                  required: 'Ingrese id del producto ',
              },
              marca: {
                  required: 'Ingrese marca del producto',
              },
              nombre:{
                  required: 'Ingrese nombre del producto',
              },
              descripcion:{
                  required: 'Ingrese descripcion del producto',
              },
              categoria:{
                  required: 'Seleccione una categoria',
              },
          }//messages
      }); //$('#mi-formulario').validate
  }); //function

</script>
{% if user.is_authenticated %}
    <title>Crear Producto</title>
</head>
<body style="background-color: rgb(12, 86, 88);">
    <div class="container" style="background-color: rgb(255, 255, 255); padding: 2%; margin-top: 5%;">
        <h2 style="text-align: center;  color: rgb(12, 86, 88)">Creando Productos</h2>

        <div class="row">
            <form method="POST" action="#" id="formulario" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ producto_form.producto.label }}
                    {{ producto_form.producto }}
                </div>

                <div class="form-group">
                    {{ producto_form.marca.label }}
                    {{ producto_form.marca }}
                </div>

                <div class="form-group">
                    {{ producto_form.nombre.label }}
                    {{ producto_form.nombre }}
                </div>

                <div class="form-group">
                    {{ producto_form.descripcion.label }}
                    {{ producto_form.descripcion }}
                </div>

                <div class="form-group">
                    {{ producto_form.categoria.label }}
                    {{ producto_form.categoria }}
                </div>

                <div class="form-group">
                    {{ producto_form.imagen.label }}
                    {{ producto_form.imagen }}
                </div>


                <br><br>
                <input type="submit" class="btn btn-primary" value="Guardar" style="background-color: rgb(12, 86, 88); border: 2px solid;">
                <a href="{% url 'mostrar' %}" class="btn btn-success" style="background-color: rgb(105, 105, 105); border: 2px solid;">Volver</a>
                <input type="reset" class="btn btn-danger" value="Limpiar" style="float: right;">
            </form>
            {% else %}
        <td><a href="#" style="color:red">No tiene permisos para agregar productos</a></td>
            {% endif %}
        </div>
    </div>
</body>
</html>